body
{
	/*Pour éviter des espaces avec les div*/
	margin: 0;
}
h1
{
	text-align: center;
	font-size: 60px;
	color: black;
	background-image: url("sport.jpg");
	padding: 20px;
	margin: 0;
}
#nav
{
	position: fixed;
}
#nav ul
{
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none; /*Suppression des puces*/
}
#nav li
{
	float: left;
	position: relative;
	color: white;
	background-color: blue;
	font-size: 20px;
	width: 253.2px;
	padding: 10px;
	text-align: center;
}
#nav li a
{
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
}
#nav ul li ul
{
	display: none; /*On fait disparaitre les sous-menus*/
}
#nav li ul
{
	position: absolute;
	float: right;
}

#nav ul li:hover ul
{
	display: block; 

	/*On affiche si la souris passe dessus*/
}
#test li
{
	background-color: black;
}
#test ul li
{
	display: none;
}
#test:hover ul li
{
	display: block;
	left: 263px;	
	bottom: 25px;		
}
#nav li:hover ul li
{
	float: none;
}
#nav li a
{
	text-decoration: none;
}
